@model IEnumerable<ConsultingDTO>

<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>رقم الطلب</th>
            <th>اسم العميل</th>
            <th>وصف الاستشارة</th>
            <th>سعر الاستشارة</th>
            <th>التفاصيل</th>
            <th>طلب الخدمه</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var consulting in Model)
        {
            <tr>
                <td>@consulting.OrderNumber</td>
                <td>@consulting.Customer?.FullName</td>
                <td>@consulting.Description</td>
                <td>@consulting.PriceService</td>
                <td>
                    <a href="@Url.Action("ConsultingDetails", new { id = consulting.Id })" class="btn btn-info">تفاصيل</a>
                </td>
                <td>
                    <form asp-controller="RequestConsulting" asp-action="RequestConsulting" method="post">
                        <input type="hidden" name="consultingId" value="@consulting.Id" />  <!-- Adjust the property name -->
                        <button type="submit" class="btn btn-primary">طلب الخدمه</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
