@model IEnumerable<RequestConsultingDTO>
@{
    ViewData["Title"] = "إدارة طلبات الاستشارة";
}
<table id="example1" class="table">
    <thead>
        <tr style="--bs-table-bg:#f7f7f7ff;">
            <th>رقم الاستشارة</th>
            <th>اسم العميل</th>
            <th>اسم المحامي</th>
            <th>حاله طلب الاستشارة</th>
            <th>الغاء الطلب</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Consulting.OrderNumber</td>
                <td>@request.Consulting.Customer.FullName</td>
                <td>@request.Lawyer.FullName</td>
                <td>@request.StatusRequestConsulting</td>
                <td>
                    <form asp-action="CancelRequest" method="post">
                        <input type="hidden" name="requestId" value="@request.Id" />
                        <button type="submit" style="    border: none;">
                            <img src="~/asset/Delete.png" alt="icon" class="icon" />
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
