@model IEnumerable<MainConsultingDTO>
@{
    ViewData["Title"] = "جميع الاستشارات الرئيسية";
}
<table id="example1" class="table">
    <thead>
        <tr style="--bs-table-bg:#f7f7f7ff;">
            <th>
                Icon
            </th>
            <th>
                الاسم
            </th>
            <th>
                الوصف
            </th>
            <th>
                خدمات
            </th>
            <th>
                تعديل
            </th>
            <th>
                حذف
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.IconUrl" style="height:50px; width:50px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.service)
                </td>
                <td>
                    <form class="p-2">
                        <button type="submit" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">تعديل</button>
                    </form>
                </td>
                <td>
                    <form class="p-2" asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" style="    border: none;">
                            <img src="~/asset/Delete.png" alt="icon" class="icon" />
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
