@model IEnumerable<ConsultingDTO>
@{
    ViewData["Title"] = "جميع الاستشارات الإدارية";
}
<table id ="example1" class="table">
    <thead>
        <tr style="--bs-table-bg:#f7f7f7ff;">
            <th>رقم الطلب</th>
            <th>اسم العميل</th>
            <th>اسم المحامي</th>
            <th>وصف الاستشارة</th>
            <th>سعر الاستشارة</th>
            <th>حاله الاستشارة</th>
            <th>الإجراءات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var consulting in Model)
        {
            <tr >
                <td>@consulting.OrderNumber</td>
                <td>@consulting.Customer?.FullName</td>
                <td>@consulting.Lawyer?.FullName</td>
                <td>@consulting.Description</td>
                <td>@consulting.PriceService</td>
                <td>
                    <p class="badge @(consulting.StatusConsultingEnum == statusConsulting.InProgress ? "text-bg-primary" : "text-bg-success")">@consulting.StatusConsulting</p>
                </td>
                <td>
                    <a href="@Url.Action("ConsultingDetails", new { id = consulting.Id })">
                        <img src="~/asset/Hide.png" alt="icon" class="icon" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
