@model IEnumerable<AuthDTO>
@{
    ViewData["Title"] = "إدارة كافة المحامين";
}
<table class="table">
    <thead >
        <tr style="--bs-table-bg:#f7f7f7ff;">
            <th>صورة الملف الشخصي</th>
            <th>الاسم الكامل</th>
            <th>رقم التليفون</th>
            <th>الوصف</th>
            <th>سنوات من الخبرة</th>
            <th>مدينة</th>
            <th>التخصص الأكاديمي</th>
            <th>تعليم</th>
            <th>عدد الاستشارات</th>
            <th>اسم البنك</th>
            <th>رقم الحساب</th>
            <th>اسم المستفيد</th>
            <th>رقم IBAN</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(user.ProfileImage))
                        {
                            <img src="@user.ProfileImage" alt="صورة الملف الشخصي" style="width: 50px; height: 50px; border-radius: 50px;" />
                        }
                        else
                        {
                            <span>---</span>
                        }
                    </td>
                    <td>@(string.IsNullOrEmpty(user.FullName) ? "---" : user.FullName)</td>
                    <td>@(string.IsNullOrEmpty(user.PhoneNumber) ? "---" : user.PhoneNumber)</td>
                    <td>@(string.IsNullOrEmpty(user.Description) ? "---" : user.Description)</td>
                    <td>@(user.yearsExperience.HasValue ? user.yearsExperience.Value.ToString() : "---")</td>
                    <td>@(string.IsNullOrEmpty(user.City) ? "---" : user.City)</td>
                    <td>@(string.IsNullOrEmpty(user.academicSpecialization) ? "---" : user.academicSpecialization)</td>
                    <td>@(string.IsNullOrEmpty(user.Education) ? "---" : user.Education)</td>
                    <td>@user.numberConsulting</td>
                    <td>@(string.IsNullOrEmpty(user.BankName) ? "---" : user.BankName)</td>
                    <td>@(string.IsNullOrEmpty(user.AccountNumber) ? "---" : user.AccountNumber)</td>
                    <td>@(string.IsNullOrEmpty(user.BeneficiaryName) ? "---" : user.BeneficiaryName)</td>
                    <td>@(string.IsNullOrEmpty(user.IBAN) ? "---" : user.IBAN)</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="15" class="text-center">لا توجد بيانات لعرضها</td>
            </tr>
        }
    </tbody>
</table>
