@model IEnumerable<AuthDTO>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>الاسم الكامل</th>
            <th>رقم الهاتف</th>
            <th>الوصف</th>
            <th>سنوات الخبرة</th>
            <th>المدينة</th>
            <th>التخصص الأكاديمي</th>
            <th>التعليم</th>
            <th>شهاده التخرج</th>
            <th> رخصه المحاماه</th>
            <th>صورة الملف الشخصي</th>
            <th>عدد الاستشارات</th>
            <th>اسم البنك</th>
            <th>رقم الحساب</th>
            <th>اسم المستفيد</th>
            <th>رقم الآيبان</th>
            <th>أسماء الخبرات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Description</td>
                <td>@user.yearsExperience</td> <!-- Nullable field handling -->
                <td>@user.City</td>
                <td>@user.academicSpecialization</td>
                <td>@user.Education</td>
                <td>
                    <a href="@user.graduationCertificate" target="_blank">شهاده التخرج</a>
                </td>
                <td>
                    <a href="@user.lawyerLicense" target="_blank">رخصه المحاماه</a>
                </td>
                <td>
                    <img src="@user.ProfileImage" alt="صورة الملف الشخصي" style="width: 50px; height: 50px;" />
                </td>
                <td>@user.numberConsulting</td>
                <td>@user.BankName</td>
                <td>@user.AccountNumber</td>
                <td>@user.BeneficiaryName</td>
                <td>@user.IBAN</td>
                <td>
                    @if (user.ExperienceNames != null && user.ExperienceNames.Any())
                    {
                        <ul>
                            @foreach (var experience in user.ExperienceNames)
                            {
                                <li>@experience</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>لا توجد خبرات</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
